/* colors:

#006600 - forest greenish, main background 
#004700 - dark green, buttons
#BFFFBF - pale green, nav
#80FF80 - light green,
#FFFFFF - white,

*/

/* other colors:

#004700 - dark green from above,
#003200 - darker green,
#004747 - washed out blue,
#2B4700 - close to olive green but not quite,
#1E3200 - also close to olive green but darker,

*/

/**********************************
BASE STYLES
**********************************/

* {
    background-color: #006600;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
}

hr {
    margin: 0px;
}

div {
    margin: 0;
}

input:focus {
    background-color: #BFFFBF;
}

ul {
    list-style: none;
}

/**************************************************************************
NAVIGATION
**************************************************************************/

#navDiv {
    background-color: #80FF80;
    margin: 0;
    padding: 5px 0px;
}

#navUl {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0;
    margin: 0;
    padding: 5px 0px;
    background-color: #80FF80;
}

.navLi {
    text-decoration: none;
    background-color: #80FF80;
}

.navLink {
    background-color: #80FF80;
}

/**************************************************
LANDING
***************************************************/

#introDiv {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

#intro {
    padding: 0px 20px 0px 20px;
}

/**************************************************
HOME
***************************************************/

#homeDiv {
    display: flex;
    flex-direction: column;
    margin-top: 25%;
}

#homeTitle {
    margin: 5px 0px;
    text-align: center;
    color: white;
}

#homeP {
    text-align: center;
    color: white;
}

#buttonDiv {
    display: flex;
    justify-content: space-around;
}

.homeOptions {
    margin: 5px 0px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 3px;
    width: 40%;
    color: white;
}

#roomForm {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#roomForm label {
    color: white;
    font-weight: bold;
    font-size: 150%;
    margin: auto;
}

#roomInput {
    margin: 15px 5px;
    text-align: center;
    padding: 5px;
    color: white;
    border-radius: 3px;
}

::placeholder {
    color: white;
}

.buttonDiv {
    display: flex;
    justify-content: space-around;
}

#roomButton {
    border: 1px solid black;
    width: 40%;
    height: 50px;
    /* margin: 10px 25% 0% 25%; */
    color: white;
}

#roomButton :focus {
    border: none;
}

/**************************************************
GAME
***************************************************/

#gameDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #006600;
}

#gameLobby {
    text-align: center;
    border-bottom: 1px solid black;
    margin: 0 0 5px 0;
    padding: 15px;
}

#gameSpan {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #006600;
}

/**************************************************
PLAYER SORT MENU
***************************************************/

#sortButton {
    border: 1px solid white;
    border-radius: 3px;
    width: 90%;
    margin: 5px 5% 5px 5%;
    padding: 5px;
    background-color: #004700;
    color: white;
}

#sortUl {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: auto;
    background-color: #006600;
}

#sortOptions {
    width: 25%;
    margin: 4px 10px 4px 10px;
    padding: 5px 3px;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    background-color: #004700;
}

#sortOptions button {
    color: white;
}

/**************************************************
PLAYER CARDS
***************************************************/

.cardDiv {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    border-radius: 5px;
    margin: 5px;
    background-color: #006600;
}

.playerName {
    padding-left: 5px;
    background-color: #006600;
    color: white;
}

.playerInfoUl {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-left: 5px;
    background-color: #006600;
    color: white;
}

.playerInfoItem {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 3px;
    margin: 2.5px 2.5px;
    padding: 5px;
    width: 40%;
    background-color: #006600;
}

.playerInfoInfo {
    background-color: #006600;
}

#editButton {
    border: 1px solid white;
    border-radius: 3px;
    margin: 5px;
    padding: 5px 0px;
    background-color: #004700;
    color: white;
}

#addButton {
    border: 1px solid white;
    border-radius: 3px;
    background-color: #BFFFBF;
    height: 25px;
    width: 90%;
    margin: auto;
    margin-bottom: 5px;
    background-color: #004700;
    color: white;
}

/**************************************************
ACTIVE PLAYER
***************************************************/

.activeDiv {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 5px dashed black;
    border-radius: 5px;
    background-color: #80FF80;
}

.activeName {
    padding-left: 5px;
    background-color: #80FF80;
    color: black;
}

.activeInfoUl {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-left: 5px;
    background-color: #80FF80;
    color: black;
}

.activeInfoItem {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 3px;
    margin: 2.5px 2.5px;
    padding: 5px;
    width: 40%;
    background-color: #80FF80;
    color: black;
}

.activeInfoInfo {
    background-color: #80FF80;
}

#activeEditButton {
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px;
    padding: 5px 0px;
    background-color: #BFFFBF;
    color: black;
}

/**************************************************
PLAYER FORM DIALOG
***************************************************/

#formDialog {
    display: flex;
    flex-flow: row wrap;
    border: 5px solid black;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
    position: fixed;
    z-index: 1;
    top: 195px;
    left: 0px;
    height: 421px;
    box-shadow: 5px 5px 5px;
    justify-content: space-around;
}

.formLabels {
    margin: auto;
    color: white;
}

.formItems {
    margin: 2.5px;
    width: 100%;
    padding: 4px;
    background-color: #BFFFBF;
    display: flex;
    justify-content: center;
    border-radius: 3px;
}

.formButtons {
    border: 1px solid black;
    border-radius: 3px;
    background-color: #BFFFBF;
    margin: 5px 5% 5px 5%;
    width: 20%;
    padding: 4px;
}

/**************************************************
DUNGEON MASTER FIELD
***************************************************/
/* 
.dmField {
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 5px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
} */

/**************************************************
TURN TIMER
***************************************************/

.timerDiv {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    position: sticky;
    top: 5px;
    right: 5px;
    background-color: #006600;
    width: 33.333%;
    max-height: 54px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #004700;
}

.timerH2 {
    text-align: center;
    margin: 5px;
    padding: 5px;
    background-color: #004700;
    color: white;
}

/* .timerDivMaster {
    display: flex;
    justify-content: center;
    flex-flow: row;
    position: sticky;
    top: 5px;
    background-color: #006600;
    margin: 0px 5px 0px 5px;
    border: 1px solid black;
    justify-content: space-around;
}

.timerButton {
    display: flex;
    border: 1px solid black;
    margin: 2px;
    background-color: #BFFFBF;
    padding: 10px 5px;
    width: 30%;
    justify-content: center;
} */

/**************************************************
DUNGEON MASTER MENU
***************************************************/

.masterMenuOpen {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    margin: 0 10px 0 0;
    position: sticky;
    top: 5px;
    left: 5px;
    background-color: #004700;
}

.masterMenuClose {
    margin-right: 5px;
    width: 33.33%;
    position: sticky;
    top: 5px;
    left: 5px;
    background-color: #004700;
    margin-right: 10px;
}

.openMenuBtn {
    border: 1px solid black;
    border-radius: 3px;
    width: 100%;
    height: 54px;
    font-size: 125%;
    font-weight: bold;
    color: white;
}

.masterMenu {
    display: flex;
    flex-flow: column;
    padding: 0 5px 0 0;
    margin: 0;
    border: 1px solid black;
    border-radius: 3px;
    width: 100%;
    background-color: #004700;
}

.masterMenuItem {
    background-color: #004700;
    margin-top: 5px;
    color: white;
}