/* colors:

#006600 - forest greenish, main background 
#004700 - dark green, buttons
#BFFFBF - pale green, nav
#80FF80 - light green,
#FFFFFF - white,

*/

/* other colors:

#004700 - dark green from above,
#003200 - darker green,
#004747 - washed out blue,
#2B4700 - close to olive green but not quite,
#1E3200 - also close to olive green but darker,

*/

/**********************************
BASE STYLES
**********************************/

* {
    background-color: #006600;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
    border-radius: 3px;
}

hr {
    margin: 0px;
}

div {
    margin: 0;
}

input:focus {
    background-color: #BFFFBF;
}

ul {
    list-style: none;
}

input {
    font-size: 16px;
    border-radius: 3px;
}

::placeholder {
    color: black;
}

/**************************************************************************
NAVIGATION
**************************************************************************/

#navDiv {
    background-color: #80FF80;
    margin: 0;
    padding: 5px 0px;
    border-bottom:3px solid #004700;
}

#navUl {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0;
    margin: 0;
    padding: 5px 0px;
    background-color: #80FF80;
}

.navLi {
    text-decoration: none;
    background-color: #80FF80;
}

.navLink {
    text-decoration: none;
    background-color: #80FF80;
}

/**************************************************
LANDING
***************************************************/

#introDiv {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

#intro {
    padding: 0px 20px 0px 20px;
}

/**************************************************
ACCOUNT
***************************************************/
.accountDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin: 20px auto 0 auto;
}

.accountDiv h1 {
    margin: auto;
}

.accountDiv p {
    margin: 15px auto;
    font-weight: bold;
}

/**************************************************
SIGN IN
***************************************************/

.signInDiv {
    display: flex;
    flex-flow: row wrap;
}

.signInDiv h1 {
    margin: 10px auto 10px auto;
}

.signInForm {
    display: flex;
    flex-flow: row wrap;
    margin: auto 0 auto 5px;
}

.signInForm input {
    border-radius: 3px;
    margin: 5px;
}

.signInForm button {
    border: 1px solid black;
    color: white;
    padding: 3px;
    margin: 10px 10px 0 10px;
    width: 25%;
    flex-basis: 100%;
}

.signInForm button:disabled {
    color: grey;
    border: 1px solid grey;
}

.pwForgetLink, .signUpLink {
    margin-left: 10px;
    width: 100%;
    margin: 10px 0 0 10px;
}

/**************************************************
SIGN UP
***************************************************/

.signUpPageDiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.signUpPageDiv h1 {
    margin: 10px auto 10px auto;
}

.signUpForm {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.signUpForm input {
    margin: 2.5px 0;
    border-radius: 3px;
    padding: 3px;
}

.signUpForm button {
    border: 1px solid black;
    color: white;
    padding: 3px;
    margin: 10px;
    width: 25%;
}

.signUpForm button:disabled {
    color: grey;
    border: 1px solid grey;
}

/**************************************************
FORGOT PASSWORD
***************************************************/

.pwForgetForm {
    margin: auto;
    display: flex;
}

.pwForgetForm input {
    padding: 5px;
    border-radius: 3px;
    text-align: center;
}

.pwForgetForm button {
    border: 1px solid black;
    width: 40%;
    color: white;
    margin: 0 0 0 5px;
    padding: 3px;
}

.pwForgetDiv {
    display: flex;
    flex-flow: row wrap;
}

.pwForgetDiv h1 {
    width: 80%;
    margin: 10px auto 10px auto;
}

/**************************************************
HOME
***************************************************/

#homeDiv {
    display: flex;
    flex-direction: column;
    margin-top: 25%;
}

#homeTitle {
    margin: 5px 0px;
    text-align: center;
    color: white;
}

#homeP {
    text-align: center;
    color: white;
}

#roomForm {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#roomForm label {
    color: white;
    font-weight: bold;
    font-size: 150%;
    margin: auto;
}

#roomInput {
    margin: 15px 5px;
    text-align: center;
    padding: 5px;
    /* color: white; */
    border-radius: 3px;
}

#roomInput textarea {
    color: black;
}

#buttonDiv {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 75%;
}

.homeOptions {
    margin: 10px 0px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 3px;
    width: 100%;
    color: white;
    height: 35px;
}

#roomButton {
    border: 1px solid black;
    width: 40%;
    height: 50px;
    color: white;
}

/**************************************************
TOGGLE MASTER
***************************************************/

.toggleMasterDiv {
    display: flex;
    flex-flow: row wrap;
    margin: 0 5px 5px 5px;
}

/**************************************************
GAME
***************************************************/

#gameDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #006600;
}

#gameLobby {
    text-align: center;
    border-bottom: 1px solid black;
    margin: 0 0 5px 0;
    padding: 15px;
}

#gameSpan {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #006600;
}

.timerMaster {
    display: flex;
    justify-content: space-between;
    width: 75%;
    position: sticky;
    top: 5px;
    right: 0;
    background-color: transparent;
    margin: auto;
}

.playerOptions {
    display: flex;
    justify-content: space-evenly;
    flex-flow: column;
    width: 100%;
}

#addButton {
    border: 1px solid white;
    border-radius: 3px;
    width: 75%;
    margin: 5px auto;
    padding: 5px;
    background-color: #004700;
    color: white;
}

/**************************************************
PLAYER SORT MENU
***************************************************/

#sortButton {
    border: 1px solid white;
    border-radius: 3px;
    width: 75%;
    margin: 5px auto;
    margin-top: 10px;
    padding: 5px;
    background-color: #004700;
    color: white;
}

#sortUl {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: auto;
    background-color: #006600;
}

#sortOptions {
    width: 25%;
    margin: 4px 10px 4px 10px;
    padding: 5px 3px;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    background-color: #004700;
}

#sortOptions button {
    color: white;
}

/**************************************************
PLAYER CARDS
***************************************************/

.cardDiv {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    border-radius: 5px;
    margin: 5px;
    background-color: #006600;
}

.playerName {
    padding-left: 5px;
    background-color: #006600;
    color: white;
}

.playerInfoUl {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-left: 5px;
    background-color: #006600;
    color: white;
}

.playerInfoItem {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 3px;
    margin: 2.5px 2.5px;
    padding: 5px;
    width: 40%;
    background-color: #006600;
}

.playerInfoInfo {
    background-color: #006600;
}

#editButton {
    border: 1px solid white;
    border-radius: 3px;
    margin: 5px;
    padding: 5px 0px;
    background-color: #004700;
    color: white;
}

/**************************************************
ACTIVE PLAYER
***************************************************/

.activeDiv {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 5px dashed black;
    border-radius: 5px;
    background-color: #80FF80;
}

.activeName {
    padding-left: 5px;
    background-color: #80FF80;
    color: black;
}

.activeInfoUl {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-left: 5px;
    background-color: #80FF80;
    color: black;
}

.activeInfoItem {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 3px;
    margin: 2.5px 2.5px;
    padding: 5px;
    width: 40%;
    background-color: #80FF80;
    color: black;
}

.activeInfoInfo {
    background-color: #80FF80;
}

#activeEditButton {
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px;
    padding: 5px 0px;
    background-color: #BFFFBF;
    color: black;
}

/**************************************************
PLAYER FORM DIALOG
***************************************************/

#formDialog {
    display: flex;
    flex-flow: row wrap;
    border: 5px solid black;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
    position: fixed;
    z-index: 1;
    top: 195px;
    left: 0px;
    height: 421px;
    box-shadow: 5px 5px 5px;
    justify-content: space-around;
}

.formLabels {
    margin: auto;
    color: white;
}

.formItems {
    margin: 2.5px;
    width: 100%;
    padding: 4px;
    background-color: #BFFFBF;
    display: flex;
    justify-content: center;
    border-radius: 3px;
}

.formButtons {
    border: 1px solid black;
    border-radius: 3px;
    background-color: #BFFFBF;
    margin: 5px 5% 5px 5%;
    width: 20%;
    padding: 4px;
}

/**************************************************
DUNGEON MASTER FIELD
***************************************************/
/* 
.dmField {
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 5px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
} */

/**************************************************
TURN TIMER
***************************************************/

.timerDiv {
    display: flex;
    justify-content: space-around;
    background-color: #006600;
    width: 45%;
    max-height: 54px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #004700;
}

.timerH2 {
    text-align: center;
    margin: 5px;
    padding: 5px;
    background-color: #004700;
    color: white;
}

/* .timerDivMaster {
    display: flex;
    justify-content: center;
    flex-flow: row;
    position: sticky;
    top: 5px;
    background-color: #006600;
    margin: 0px 5px 0px 5px;
    border: 1px solid black;
    justify-content: space-around;
}

.timerButton {
    display: flex;
    border: 1px solid black;
    margin: 2px;
    background-color: #BFFFBF;
    padding: 10px 5px;
    width: 30%;
    justify-content: center;
} */

/**************************************************
DUNGEON MASTER MENU
***************************************************/

.masterMenuOpen {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    margin: 0 10px 0 0;
    background-color: #004700;
}

.masterMenuClose {
    margin-right: 5px;
    width: 45%;
    background-color: #004700;
    margin-right: 10px;
}

.openMenuBtn {
    border: 1px solid black;
    border-radius: 3px;
    width: 100%;
    height: 54px;
    font-size: 125%;
    font-weight: bold;
    color: white;
}

.masterMenu {
    display: flex;
    flex-flow: column;
    padding: 0 5px 0 0;
    margin: 0;
    border: 1px solid black;
    border-radius: 3px;
    width: 100%;
    background-color: #004700;
}

.masterMenuItem {
    background-color: #004700;
    margin-top: 5px;
    color: white;
}

@media only screen and (min-width: 992px) {

/**************************************************
NAVIGATION
***************************************************/

#navUl {
    justify-content: flex-start;
    margin-left: 15px;
}

.navLink {
    margin: 15px;
}

/**************************************************
LANDING
***************************************************/

#intro {
    margin: 50px auto 0 auto;
    width: 30%;
    color: white;
    font-size: 20px;
}

/**************************************************
SIGN IN
***************************************************/

.signInDiv {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.signInDiv h1 {
    margin-left: 15px;
    font-size: 3.5em;
}

.signInForm {
    flex-direction: row;
    max-width: 75%;
}

.signInForm input {
    width: 25%;
}

.signInForm button {
    max-width: 10%;
    margin: 5px;
    border-radius: 3px;
}

/**************************************************
FORGOT PASSWORD
**************************************************/

.pwForgetDiv {
    flex-direction: column;
}

.pwForgetDiv h1 {
    width: 35%;
    margin: 30px auto;
}

/**************************************************
SIGN UP
***************************************************/

.signUpPageDiv {
    flex-direction: column;
    justify-content: flex-start;
}

.signUpForm {
    flex-direction: column;
}

.signUpForm input {
    max-width: 25%;
    margin: 10px 10px;
}

/**************************************************
HOME
**************************************************/

#homeDiv {
    margin: 30px;
}

#homeTitle {
    font-size: 3.5em;
}

#homeP {
    font-size: 1.5em;
}

#buttonDiv {
    margin-top: 40px;
    justify-content: center;
    flex-direction: row;
}

.homeOptions {
    max-width: 20%;
    margin: 10px 10px;
}

/**************************************************
HOME: JOIN/CREATE ROOM
**************************************************/

#roomForm {
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin-top: 30px;
}

#roomForm label {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

#roomForm input {
    width: 45%;
    margin: 30px;
}

.buttonDiv {
    width: 45%;
    display: flex;
    justify-content: flex-start;
}

#roomButton {
    max-width: 20%;
    margin: 30px 10px;

}

/**************************************************
GAME LOBBY
**************************************************/

#gameSpan {
    justify-content: flex-start;
    flex-flow: row wrap;
}

/**************************************************
MASTER MENU
**************************************************/

.masterMenuClose {
    width: 5%;
    margin-left: 10px;
}

.masterMenuOpen {
    margin-left: 10px;
}

.openMenuBtn {
    /* width: 20%; */
}

/**************************************************
TURN TIMER
**************************************************/

.timerDiv {
    width: 5%;
    margin-left: 85%;
}

/**************************************************
PLAYER SORT MENU
**************************************************/

#sortButton {
    align-self: flex-start;
    max-width: 10%;
}

/**************************************************
PLAYER ADD BUTTON
**************************************************/

#addButton {
    align-self: flex-start;
    /* max-width: 10%; */
}










}